@font-face{
  font-family: Kanit-Bold;
  src: url(../fonts/kanit/Kanit-Bold.ttf);
  font-style: normal;
  font-variant:initial;
}
@font-face{
  font-family: Kanit-Light;
  src: url(../fonts/kanit/Kanit-Light.ttf);
  font-style: normal;
  font-variant:initial;
}
@font-face{
  font-family: Kanit-Medium;
  src: url(../fonts/kanit/Kanit-Medium.ttf);
  font-style: normal;
  font-variant:initial;
}
 
@font-face{
  font-family: Kanit-Regular;
  src: url(../fonts/kanit/Kanit-Regular.ttf);
  font-style: normal;
  font-variant:initial;
}
@font-face{
  font-family: FontAwesome;
  src: url(../fonts/fonts/FontAwesome.otf);
  font-style: normal;
  font-variant:initial;
}
 
@font-face {
  font-family: 'Linearicons';
  src: url("../fonts/Linearicons-Free.ttf");
  
}
 
/*html {
  scroll-behavior: smooth;
}*/
.none-pad{
  padding: 0px 0px 0px 0px !important;
} 
.none-pad-r{
  padding: 0px 5px 0px 0px !important;
} 
.none-right{
  margin-right: -15px;
} 
.none-left{
  margin-left: -15px;
} 

.dropdown:hover>.dropdown-menu {
  display: block;
}
 
.navbar-toggler-left .fa-bars{
  color: #fff !important;
}
@media only screen and (max-width: 991px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }
  .none-xs{
    padding: 0px 0px 0px 0px !important;
  }
  .none-xxs{
    padding: -15px -15px -15px -15px !important;
  }
  .marx-15{
    margin-top: 15px;
  }
  .centered .text .title{
    font-size: 18px;
  }
}
@media only screen and (min-width: 992px) { /* PC */
  .pc-x{
    display: none !important;
  } 
  .centered .text .title{
    font-size: 32px;
  }
}

 


a:hover{
  text-decoration: none;
}
/*.banner {
  height: 100vh;
}*/ 


.navbar-nav .nav-item .nav-link {
  
  line-height: 35px;
} 
.fixed-top{
  margin-top: 108px;
}
 

 
.navbar {
  background: linear-gradient(to bottom,rgba(62,70,119,1) 0%,rgba(0,0,0,1) 90%,rgba(0,0,0,1) 100%);
  padding: 0px;
} 

.top-bar{
  background-color: #454352;
  background: url(../images/top.jpg) no-repeat center top;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
 
}

.top-bar img.logo{
  height: 88px;
}


.nav-text .nav-item .nav-link{
  font-family: Kanit-Regular;
  font-size: 14px;
  margin-left: 15px;
  margin-right: 15px;
  color: #fff;
}
.nav-text .nav-item.active .nav-link,.nav-text .nav-item .nav-link:hover{
  color: #FF3366 !important;
}

main{
  padding-top: 25px;
  background: url(../images/body.jpg) no-repeat center top;
  background-color: #22212a;
}
.top-menux a.link1{
  font-family: Kanit-Light;
  font-size: 14px;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 100px;
}
.top-menux a.link1:hover{
  color: #FF3366; 
}

.top-menux .dropdown{
  position: absolute;
  right: 0;
  top: 0;
}

.top-menux .dropdown .btn{
  font-family: Kanit-Light;
  font-size: 14px;
  color: #fff;
  margin-top: -8px;
}
.top-menux .dropdown .btn:hover{
  color: #FF3366;
}
.dropdown-menu{
  margin-top: -4px;
  border-radius: 0px;
      padding: 0.25rem 0;
}
.dropdown-menu .dropdown-item:hover{
  background-color: #FCA53C;
}

a.cart {
  color: #fff;
  font-family: Kanit-Regular;
  margin-left: 40px;
}

a.cart span{
  font-size: 30px;
  color: #fff;
  margin-top: 5px;
  line-height: 50px;
}
a.cart p{
  width: 23px;
  height: 23px;
  border-radius: 100%;
  background-color: #FF3366;
  text-align: center;
  color: #fff;
  position: absolute; 
  top: 0; 
  font-size: 14px;
  padding-top: 2px;
  margin-left:60px;
}
.h3-card h3{
  background-color: #7E7C8E;
  color: #fff;
  font-family: Kanit-Regular;
  text-align: left;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #FF3366;
  margin-bottom: 0px;
  padding-left: 10px;
}

.h3-card .body{
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}
.h3-card .body ul.labe{
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
 
}
.h3-card .body ul.labe li{
  font-family: Kanit-Regular;
  color: #8c8888;
  font-size: 13px;
  line-height: 30px;
  padding-left: 25px;
}

.h3-card .body ul.labe li img{
  margin-right: 5px;
  position: absolute;
  left: 0;
  margin-top: 6px;
  margin-left: 10px;
}

.h3-card .body ul.labe li span{
  margin-right: 5px;
  position: absolute;
  right: 0;  
  margin-right: 15px;
  font-family: Kanit-Light;
  font-style: italic;
  width: 48px;
}

 
.h3-card .body ul.labe li span.b-online:before{
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  position: absolute;
  left: 0;
  margin-left: -18px;
  margin-top: 10px;
  background-color: #82b52b;
}
.h3-card .body ul.labe li span.b-offline:before{
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  position: absolute;
  left: 0;
  margin-left: -18px;
  margin-top: 10px;
  background-color: #e83905;
}
.h3-card .body ul.labe li span.b-online{
  font-size: 12px !important;
}

.h3-card .body ul.labe li span.b-offline{
  font-size: 10px !important;
}
.box-review a{
  font-family: Kanit-Regular;
  font-size: 14px;
  color: #7e7c8e;
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.box-review .profile-img{
  text-align: center;
  width: 88px;
  height: 88px;
  border-radius: 100%;
  overflow: hidden;
  border: 3px solid #eee;
  display: block;
  margin: auto;
  margin-bottom: 5px;
}

.box-review p{
  font-size: 12px;
  line-height: 25px;
  color: #666;
  text-align: left;
  line-height: 20px;
  font-family: Kanit-Regular;
}
.box-review  span{
  color: #5890FF;
  font-size: 11px;
}

.hr-x{
  margin-top: 15px;
 
  border: 0;
  border-top: 1px solid #eee;
}
.service-i{
  padding-left: 80px;
  margin-top: 15px;
}
.service-i div{
  background-color: #8F94D6;
  padding:10px;
  border-radius: 100%;
  width:66px;
  height:66px;
  position: absolute;
  left: 0;
 
}
.service-i div img{
  margin:auto;
  display: block;
}
.service-i h6{
  font-family: Kanit-Regular;
  color: whitesmoke;
  font-size: 18px;
  margin-bottom: 0px;
  margin-top: 10px;
}
.service-i p{
  font-family: Kanit-Regular;
  color: #aaaaaa;
  font-size: 14px;
}

footer{
  background-color: #EEEEEE;
}

footer .box-f{
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  padding: 15px 0;
}
footer .box-f img{
  height: 33px;
  border-radius: 5px;
  margin: 5px;
}

footer h6{
  color: #000;
  font-family: Kanit-Regular;
  font-size: 11px;
  text-align: center;
  padding-top: 15px;
}

footer small{
  color: #000;
  font-family: Kanit-Regular;
  font-size: 10px;
  text-align: center; 
}

footer .menu-bto{
  list-style: none;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
}


footer .menu-bto li{
  display: inline;
  margin-right: 15px;
  margin-left: 15px;
}
footer .menu-bto li:after{
  content: "";
  border-right: 1px solid #06c;
  height: 10px; 
  position: absolute;
  margin-left: 15px;
  margin-top: 10px;
}

footer .menu-bto li:last-child:after{
  content: "";
  border-right: 1px solid #EEEEEE;
  height: 10px; 
  position: absolute;
  margin-left: 15px;
  margin-top: 10px;
}

footer .menu-bto li a{
  font-size: 12px;
  font-family: Kanit-Regular;
}
footer .menu-bto li a:hover{
  color: #FF3366;
}
.card-boxx{
  border-bottom: 2px solid #FF3366;
  
}

.img-cardx{
  border-bottom: 2px solid #FF3366;
  padding-bottom: 15px;
}
.card-boxx h3{
  font-family: Kanit-Regular;
  font-size: 18px;
  color: #fff;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.card-boxx-sel select{
  font-family: Kanit-Regular;
  font-size: 12px;
  margin-bottom: 5px;
  height: 30px;
  border-radius: 0px;
}
.img-cardx img{
  border-radius: 5px;
  margin-top: 15px;
}
.img-cardx img:hover{
  box-shadow: 0px 0px 21px -4px rgba(255,255,255,1);
}

.main-card{
  margin-top: 15px;
  background-color: #fff;
}
.main-card .colx-4{
  margin-top: 15px;
  margin-bottom: 15px;
}
.main-card .colx-4 img{ 
  -webkit-border-radius: 5px;
  border: 1px solid #dcdcdc;
}
.main-card .m h3{
  color: #22212a; 
  font-size: 18px;
  font-family: Kanit-Regular;
}
.main-card .m h6{
  color: #aaa; 
  font-size: 14px;
  font-family: Kanit-Regular;
}
.main-card .m h6 span{
  color: #8f94d6; 
  font-size: 14px;
  font-family: Kanit-Regular;
}
.card-price{
  border-top: 1px solid #ccc;
  /*border-bottom: 1px solid #ccc;*/
  padding-bottom: 15px;
}

.card-hr{
  border-bottom: 1px solid #ccc;
}


.ex-now {
  list-style-type: none;
  margin: 0  ;
  padding: 0px;
  margin-left: 0px;
  padding-left: 0px;
}

.ex-now li {
  float: left;
  margin: 0  ;
  height: 40px;
  position: relative;
  margin-right: 4px;
  margin-left: 4px;
  margin-top: 15px;
 
}

.ex-now label,
.ex-now input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  /*box-shadow: inset 0 0 1px #999, 0 0 5px #ccc;
  border-radius: 10px;
  padding: 20px 0;
  margin-bottom: 10px;*/
}

.ex-now input[type="radio"] {
  opacity: 0.01;
  z-index: 100;
}

.ex-now input[type="radio"]:checked+label,
.Checked+label {
  background-color: #FF3366; 
  color: #fff;
}

.ex-now label {
  padding: 25px 0; 
  border: 1px solid #FF3366;
  cursor: pointer;
  z-index: 90;
  border-radius: 6px;
  text-align: center;
  font-family: Kanit-Medium;
  color: #000; 
  background-color: rgba(228,230,225,.52);
  line-height: 0px;
  font-size: 14px;
}
.ex-now label:after{
  content: "";
  width: 30px;
  height: 30px;
  background-image: url("../images/coin.png") ;
  background-size: 15px 15px;
  top: 10px;
  background-repeat: no-repeat;
  right: 5px;
  position: absolute;
  display: inline-block;
}

.ex-now label:hover {
  background: #FF3366;
  color: #fff;
}


.form-card input{
  height: 30px; 
  
  margin-bottom: 15px;
  font-size: 14px;
  font-family: Kanit-Regular;
}

.form-card input:before {
    content: "จำนวน:";
}

.btn-cart{
  background-color: #FF3366;
  color: #fff;
  font-family: Kanit-Regular;
 
  font-size: 11px;
  display: block;
  width: 100%;
  height: 30px;
}
.btn-cart:hover{
  background-color: #CC0033;
  color: #fff;
}
.card-bbx label{
  color: #000;
  font-family: Kanit-Regular;
  font-size: 11px;
  margin-top: 15px;
  margin-bottom: 0px;
}

/*FF3366*/


@media only screen and (max-width: 991px) { /* MOBILE */
  .top-bar{
    padding-left: 0px;
  }
  .top-bar .logo{
    display: block;
    margin: auto;
  }
  .ex-now li {
 
    width:29%;
  }
}
@media only screen and (min-width: 992px) { /* PC */
  
}





#menuslide {
  display:none; 
  background-color: rgba(0,0,0,0);
  width: 100%;
  z-index: 2032 !important;
}
.div-menu{
  position: fixed;
  background-color:#fff;
  top: 0px;
  right: 0px;
  width: 292px;
  height: 100%;
  z-index: 1000;
} 

.data-list .data-list-x {
  padding-left:50px;
  text-align: left;
}
.data-list ul {
  list-style: none;
  padding-left: 0px;
}
.data-list ul li {
  font-size: 16px;
  padding-bottom: 10px;
  width: 100%;
  padding-left: 15px;
  padding-top: 10px;
  background-color: #fff;
  border-top: 1px solid #F1F1F1;
}

.data-list ul li a{
  font-family: Kanit-Regular;
  color: #8a2be2 !important;
  font-size: 14px;
}
.data-list ul li.last{
  background-color: #be282d;
  color: #000 !important;

}
.data-list ul li a img{
  max-height: 30px;
  margin-right: 15px;
}
.data-list ul li:hover{
  background-color: rgba(175,0,0,.2);
}
 
.rig-in{
/*  font-size: 24px;
  right: 0;
  position: absolute;
  margin-right: 15px;*/
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 15px;
  margin-left: 15px;
  font-size: 24px;
  z-index: 999;

}
.rig-in a{
  color: #fff;
}